---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import DashboardWidget from "../components/DashboardWidget.astro";
import ModalWallet from "../web3stuff/Web3Modal";
import FetchConfig from "../web3stuff/FetchConfig";
---
<DefaultLayout title="Arthouse">
  <section class="flex flex-wrap">
    <div class="w-full md:w-1/2 p-4">
      <section>
        <h1>Welcome NFTHUB 🧑‍🚀</h1><br />
        <div class="text-right">
          <ModalWallet client:load />
        </div>
        <p class="size-20"></p>
      </section>
      <section class="margin-32">
        <div class="space-content">
          <div class="contents">
            <h2>NFT's</h2>
            <p id="current-time" class="size-12"></p>
          </div>
          <div
            class="grid small-grid-1 medium-grid-2 large-grid-3 equal-height"
          >
            <DashboardWidget
              imageSrc="https://gateway.pinata.cloud/ipfs/QmRkTtf2QQtFFba9BL8RBrzpmKKN1NVspyAos5AXbgJntB?_gl=1*1ro7qn0*rs_ga*ODQ1YzA2Y2UtMGJhOS00YjIwLWFjMDUtM2M2Y2Y4YTIyNGNl*rs_ga_5RMPXG14TE*MTY4MjE5OTM1NC40LjEuMTY4MjIwMDkyNy42MC4wLjA."
            />
            <DashboardWidget
              number="Welcome"
              title="to our NFT Art exhibition on CELO!"
            />
            <DashboardWidget
              imageSrc="https://gateway.pinata.cloud/ipfs/QmQgPqsWcC9mWtpYedLioqzyNcnzoxL8yMVk8Z5ec3deDB?_gl=1*1ixm4tp*rs_ga*ODQ1YzA2Y2UtMGJhOS00YjIwLWFjMDUtM2M2Y2Y4YTIyNGNl*rs_ga_5RMPXG14TE*MTY4MjE5OTM1NC40LjEuMTY4MjIwMTE4OC42MC4wLjA."
            />
          </div>
          <div>
            <ul>
              <li>
                <FetchConfig client:load />
              </li>
            </ul>
          </div>
        </div>
      </section>

      <script>
        const date = new Date();
        document.querySelector(
          "#current-time"
        ).innerHTML = `<em>${date.toDateString()}</em>`;
      </script>
    </div>
    <style>
      ul {
        list-style-type: none;
      }
      .text-right {
        text-align: right;
      }
      .text-right > * {
        display: inline-block;
        margin-right: 10px;
      }
    </style>
  </section>
</DefaultLayout>