---
import LoginLayout from "../layouts/LoginLayout.astro";
import { Notification } from "accessible-astro-components";
import { Icon } from "astro-icon";
---

<LoginLayout title="Login">
  <section class="bg-neutral-100">
    <div class="login">
      <div class="login__inner reveal h-screen">
        <div class="inner__brand">
          <div class="bg-neutral-900 radius-large space-8">
            <img
              class="brand__logo radius-large"
              src="https://img.icons8.com/color/12x/mona-lisa.png"
              alt=""
            />
          </div>
          <div class="brand__text">
            <span>NFTHUB Arthouse</span>
            <span>Exhibit your NFT!</span>
          </div>
        </div>
        <div class="inner__form space-content">
          <Notification>
            <Icon pack="majesticons" name="information-circle-line" /><p
              class="size-14"
            >
              Welcome to Arthouse <button class="arthouse-button bg-orange-300 hover:bg-orange-400" onclick="window.location.href = '/';">
                <strong>Go to homepage</strong>
              </button>
            </p>
            
          </Notification>
          <div class="space-content"></div>
        </div>
        <div class="login__footer text-neutral-700">
          <p>
            <em
              >Check my github!<a href="https://github.com/bezata">bezata</a
              ></em
            >
          </p>
        </div>
      </div>
      <div class="login__background h-screen"></div>
    </div>
  </section>
</LoginLayout>

<style lang="scss">
  
  @use "../assets/scss/base/breakpoint" as *;
  @use "../assets/scss/base/size" as *;
  @use "../assets/scss/base/space" as *;
  @import url('https://fonts.cdnfonts.com/css/artistic');
  

  .arthouse-button {
  display: inline-block;
  padding: 2px;
  background-color: #FFB347;
  color: #ffffff;
  font-size: 8px;
  border: none;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  border-radius: 20%;
}

.arthouse-button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}

.arthouse-button strong {
  
  font-size: 16px;
  letter-spacing: 4px;
  font-family: 'artistic', sans-serif;

}
  .login {
    display: grid;

    @include breakpoint(medium) {
      grid-template-columns: 550px 2fr;
    }

    .login__inner {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: $space-48;
      padding: $space-24;
      z-index: 1;

      @include breakpoint(medium) {
        padding: $space-48 $space-96;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
      }
    }

    .inner__brand {
      display: flex;
      align-items: center;
      gap: $space-16;
    }

    .brand__logo {
      max-width: 50px;
    }

    .brand__text {
      display: flex;
      flex-direction: column;
      gap: $space-2;

      > :first-child {
        font-weight: bold;
        @include size-20;
      }

      > :last-child {
        @include size-14;
      }
    }

    .login__background {
      display: none;
      background-color: #000;
      background-image: url("https://gateway.pinata.cloud/ipfs/QmeAbvUZjWYnrMHsyARpGcVrc5TC5uSQRR3TRU5e8ZZ4xV?_gl=1*1frwwuf*rs_ga*MDY1MDgxY2YtZDQxMy00MzNmLWE1ODctNDk0MjdkZDQzMWM2*rs_ga_5RMPXG14TE*MTY4MzU0MjI0Mi4xLjEuMTY4MzU0MjI1Mi41MC4wLjA.");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      @include breakpoint(medium) {
        display: block;
      }
    }

    .reveal {
      animation: reveal 0.3s ease-in;
    }

    .login__footer {
      padding-bottom: $space-24;

      @include breakpoint(medium) {
        padding-bottom: 0;
      }
    }
  }

  @keyframes reveal {
    0% {
      opacity: 0;
      transform: translateY(-1rem);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
