---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import EmpyState from "../components/EmpyState.astro";
import WagmiApp from "../web3stuff/WagmiApp";
import { Media } from "accessible-astro-components";
---

<DefaultLayout title="Mint">
  <section>
    <h1>Mint NFT</h1>
    <p class="size-20">Start your own collection!</p>
  </section>
  <section class="margin-32">
    <div class="space-content">
      <EmpyState>
        You haven't minted any NFT yet. Start by minting some.
      </EmpyState>
      <WagmiApp client:load />
      <Media classes="media radius-large elevation-400" src="" />
    </div>
  </section>
</DefaultLayout>
